@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

* {
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

header {
  text-align: center;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font: 14px;
}

.container {
  margin: 100px auto 0;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  transform: perspective(3500px) rotate3d(0, 1, 0, 50deg);
}

.result {
  width: 110px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: over;
  background-position: center;
  transition: all 1s ease;
}

.result:hover {
  transform: scale(1.1);
}

.result.blur {
  filter: blur(8px);
}

.media {
  position: absolute;
  top: 150px;
  right: 200px;
  width: 350px;
  z-index: 10;
  opacity: 1;
  box-shadow: 0px 0px 80px 8px rgba(255, 255, 255, 0.1);
  transition: all 2s ease;
  background-color: rba(0, 0, 0, 0.8);
}

.media.hidden {
  opacity: 0;
}

.media video {
  width: 100%;
}

.media p {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.overlay.blur {
  display: block;
}

#search {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: all 1s ease;
  position: absolute;
  bottom: 225px;
  right: 75px;
}

#search:focus {
  bottom: 50%;
  right: 50%;
  transform: scale(2) translate(-50%, -50%);
}
